* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

.mainContainer {
    display: flex;
    justify-content: space-between; 
    padding: 0 5%;
    align-items: center;
}

.section1 {
    width: 45%;
}

.section2 {
    width: 45%;
}

.section2 img {
    width: 100%;
}

